@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.App {
  text-align: center;
}

:root {
  --color-bg: #9b4fa5;
  --color-bg-variant: #2b052f;
  --color-primary: #ddaae4;
  --color-primary-variant: #d71ccb;
  --color-white: #ffffff;
  --color-light: #E4DEE4;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

section {
  margin: 2rem;
}