.header > div{
    position: relative;
    display: inline-flex;
    font-size: 3rem;
    margin: 1rem;
}

@keyframes bounce {
        0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-55px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px); }
        65%  { transform: scale(1,1) translateY(0);}
        80% { transform: scale(1,1) translateY(0);}
    }

.b {
  animation: bounce 4s ease infinite;
}

.a {
  animation: bounce 4s ease infinite .1s;
}

.t {
  animation: bounce 4s ease infinite .2s;
}

.g {
  animation: bounce 4s ease infinite .3s;
}

.i {
  animation: bounce 4s ease infinite .4s;
}

.r {
  animation: bounce 4s ease infinite .5s;
}

.l {
  animation: bounce 4s ease infinite .6s;
}

.q {
  animation: bounce 4s ease infinite 2.1s;
}

.u {
  animation: bounce 4s ease infinite 2.2s;
}

.i2 {
  animation: bounce 4s ease infinite 2.3s;
}

.l2 {
  animation: bounce 4s ease infinite 2.4s;
}

.t2 {
  animation: bounce 4s ease infinite 2.5s;
}

.s {
  animation: bounce 4s ease infinite 2.6s;
}

.e-point {
  animation: bounce 4s ease infinite 2.7s;
}