.about {
    display: flex;
}

.about-picture {
    box-shadow: 11px 11px 39px 19px rgba(0,0,0,1);
    border-radius: 200px;
    width: 60%;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.meet-the-artist {
  width: 40%;
}